<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zp.lims.sys.mapper.SysUserMapper">
    <select id="existsByUsername" resultType="integer">
        select count(1) from sys_user su where su.user_name=#{userName} AND deleted = 0
    </select>
</mapper>